;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
    background = #222
    background-alt = #444
    foreground = #dfdfdf
    foreground-alt = #555
    primary = #ffb52a
    secondary = #e60053
    alert = #bd2c40

[bar/mybar]
    width = 100%
    height = 27
    radius = 6.0
    bottom = true
    fixed-center = false
    
    background = ${colors.background}
    foreground = ${colors.foreground}
    
    line-size = 3
    line-color = #f00
    
    border-size = 4
    border-color = #00000000
    
    padding-left = 0
    padding-right = 2
    
    module-margin-left = 1
    module-margin-right = 2
    
    font-0 = fixed:pixelsize=10;1
    font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
    font-2 = siji:pixelsize=10;1
    font-3 = "Font Awesome 5 Pro:style=Solid:pixelsize=12;3"
    font-4 = "Font Awesome 5 Pro:style=Regular:pixelsize=12;3"
    font-5 = "Font Awesome 5 Pro:style=Light:pixelsize=12;3"
    font-6 = "Font Awesome 5 Brands:pixelsize=12;3"
    font-7 = "Font Awesome 5 Duotone:pixelsize=12;3"
    font-8 = "Noto Sans Symbols2:style=Regular:pixelsize12;3"
    
    modules-left = i3
    modules-center = 
    modules-right = filesystem xbacklight pulseaudio xkeyboard memory cpu wlan eth battery temperature-cpu date menu-power
    
    tray-position = none
    
    cursor-click = pointer
    cursor-scroll = ns-resize

[module/xkeyboard]
    type = internal/xkeyboard
    blacklist-0 = caps lock
    blacklist-1 = num lock
    blacklist-2 = scroll lock

    format = <label-layout>
    format-underline = ${colors.secondary}

    format-prefix = " "
    format-prefix-foreground = ${colors.foreground-alt}

    label-layout = %layout%
    label-layout-foreground = ${colors.foreground}

[module/filesystem]
    type = internal/fs
    interval = 60

    mount-0 = /

    format-mounted = <label-mounted>
    format-mounted-underline = ${colors.primary}

    format-mounted-prefix = " "
    format-mounted-prefix-foreground = ${colors.foreground-alt}

    label-mounted = %percentage_used:3:3%%
    label-mounted-foreground = ${colors.foreground}

[module/i3]
    type = internal/i3
    format = <label-state> <label-mode>
    index-sort = true
    wrapping-scroll = false

    label-mode-padding = 2
    label-mode-foreground = #000
    label-mode-background = ${colors.primary}

    label-focused = %index%
    label-focused-background = ${colors.background-alt}
    label-focused-underline= ${colors.primary}
    label-focused-padding = 2

    label-unfocused = %index%
    label-unfocused-padding = 2

    label-visible = %index%
    label-visible-background = ${self.label-focused-background}
    label-visible-underline = ${self.label-focused-underline}
    label-visible-padding = ${self.label-focused-padding}

    label-urgent = %index%
    label-urgent-background = ${colors.alert}
    label-urgent-padding = 2

[module/xbacklight]
    type = internal/xbacklight

    format = <label> <bar>
    label = BL

    bar-width = 10
    bar-indicator = |
    bar-indicator-foreground = #fff
    bar-indicator-font = 2
    bar-fill = ─
    bar-fill-font = 2
    bar-fill-foreground = #9f78e1
    bar-empty = ─
    bar-empty-font = 2
    bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
    inherit = module/xbacklight
    type = internal/backlight
    card = intel_backlight

[module/cpu]
    type = internal/cpu
    interval = 2

    format = <label>
    format-underline = ${colors.primary}

    format-prefix = " "
    format-prefix-foreground = ${colors.foreground-alt}

    label = %percentage:3:3%%
    label-foreground = ${colors.foreground}

[module/memory]
    type = internal/memory
    interval = 2

    format = <label>
    format-underline = ${colors.secondary}

    format-prefix = " "
    format-prefix-foreground = ${colors.foreground-alt}

    label = %percentage_used:3:3%%
    label-foreground = ${colors.foreground}

[module/wlan]
    type = internal/network
    interface = wlp6s0
    interval = 5

    format-connected = <ramp-signal> <label-connected>
    format-connected-underline = ${colors.primary}

    ramp-signal-0 = 
    ramp-signal-1 = 
    ramp-signal-2 = 
    ramp-signal-foreground = ${colors.foreground-alt}

    label-connected = %downspeed:9:9% %upspeed:9:9%
    label-connected-foreground = ${colors.foreground}

    format-disconnected = <label-disconnected>
    format-disconnected-underline = ${self.format-connected-underline}

    format-disconnected-prefix = " "
    format-disconnected-prefix-foreground = ${colors.foreground-alt}

    label-disconnected = Not Connected
    label-disconnected-foreground = ${colors.foreground}

[module/eth]
    type = internal/network
    interface = enp7s0
    interval = 5

    format-connected = <label-connected>
    format-connected-underline = ${colors.secondary}

    format-connected-prefix = " "
    format-connected-prefix-foreground = ${colors.foreground-alt}

    label-connected = %downspeed:9:9% %upspeed:9:9%
    label-connected-foreground = ${colors.foreground}

    format-disconnected = <label-disconnected>
    format-disconnected-underline = ${self.format-connected-underline}

    format-disconnected-prefix = " "
    format-disconnected-prefix-foreground = ${colors.foreground-alt}

    label-disconnected = Not Connected
    label-disconnected-foreground = ${colors.foreground}

[module/date]
    type = internal/date
    interval = 1

    date = %Y-%m-%d
    time = %H:%M:%S

    format = <label>
    format-underline = ${colors.secondary}

    label = %date% %time%
    label-foreground = ${colors.foreground}

[module/pulseaudio]
    type = internal/pulseaudio
    use-ui-max = false
    interval = 1

    format-volume = <ramp-volume> <label-volume>
    format-volume-underline = ${colors.primary}

    ramp-volume-0 = 
    ramp-volume-1 = 
    ramp-volume-2 = 
    ramp-volume-3 = 
    ramp-volume-foreground = ${colors.foreground-alt}

    label-volume = %percentage:3:3%%
    label-volume-foreground = ${colors.foreground}

    format-muted = <label-muted>
    format-muted-underline = ${self.format-volume-underline}

    format-muted-prefix = " "
    format-muted-prefix-foreground = ${colors.foreground-alt}

    label-muted = Muted
    label-muted-foreground = ${colors.foreground}

[module/battery]
    type = internal/battery
    battery = BAT0
    adapter = ADP1
    full-at = 98

    format-charging = <animation-charging> <label-charging>
    format-charging-underline = #ffb52a

    format-discharging = <animation-discharging> <label-discharging>
    format-discharging-underline = ${self.format-charging-underline}

    format-full-prefix = " "
    format-full-prefix-foreground = ${colors.foreground-alt}
    format-full-underline = ${self.format-charging-underline}

    ramp-capacity-0 = 
    ramp-capacity-1 = 
    ramp-capacity-2 = 
    ramp-capacity-foreground = ${colors.foreground-alt}

    animation-charging-0 = 
    animation-charging-1 = 
    animation-charging-2 = 
    animation-charging-foreground = ${colors.foreground-alt}
    animation-charging-framerate = 750

    animation-discharging-0 = 
    animation-discharging-1 = 
    animation-discharging-2 = 
    animation-discharging-foreground = ${colors.foreground-alt}
    animation-discharging-framerate = 750

[module/temperature-cpu]
    type = internal/temperature
    interval = 2
    hwmon-path = /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon2/temp1_input
    base-temperature = 0
    warn-temperature = 60

    format = <ramp> <label>
    format-underline = ${colors.secondary}

    format-warn = <ramp> <label-warn>
    format-warn-underline = ${self.format-underline}

    ramp-0 = 
    ramp-1 = 
    ramp-2 = 
    ramp-3 = 
    ramp-4 = 
    ramp-foreground = ${colors.foreground-alt}

    label = %temperature-c:4:4%
    label-foreground = ${colors.foreground}

    label-warn = %temperature-c:4:4%
    label-warn-foreground = ${colors.alert}

[module/temperature-gpu1]
    type = internal/temperature
    interval = 2
    hwmon-path = /sys/devices/pci0000:00/0000:00:03.1/0000:0b:00.0/0000:0c:00.0/0000:0d:00.0/hwmon/hwmon1/temp1_input
    base-temperature = 0
    warn-temperature = 60

    format = <ramp> <label>
    format-underline = ${colors.primary}

    format-warn = <ramp> <label-warn>
    format-warn-underline = ${self.format-underline}

    ramp-0 = 
    ramp-1 = 
    ramp-2 = 
    ramp-3 = 
    ramp-4 = 
    ramp-foreground = ${colors.foreground-alt}

    label = %temperature-c:4:4%
    label-foreground = ${colors.foreground}

    label-warn = %temperature-c:4:4%
    label-warn-foreground = ${colors.alert}

[module/temperature-gpu2]
    type = internal/temperature
    interval = 2
    hwmon-path = /sys/devices/pci0000:00/0000:00:01.2/0000:02:00.0/0000:03:02.0/0000:04:00.0/hwmon/hwmon0/temp1_input
    base-temperature = 0
    warn-temperature = 60

    format = <ramp> <label>
    format-underline = ${colors.secondary}

    format-warn = <ramp> <label-warn>
    format-warn-underline = ${self.format-underline}

    ramp-0 = 
    ramp-1 = 
    ramp-2 = 
    ramp-3 = 
    ramp-4 = 
    ramp-foreground = ${colors.foreground-alt}

    label = %temperature-c:4:4%
    label-foreground = ${colors.foreground}

    label-warn = %temperature-c:4:4%
    label-warn-foreground = ${colors.alert}

[module/menu-power]
    type = custom/menu

    expand-right = false

    format-spacing = 1

    label-open = 
    label-open-foreground = ${colors.alert}
    label-close = Cancel
    label-close-foreground = ${colors.alert}
    label-separator = |
    label-separator-foreground = ${colors.foreground-alt}

    menu-0-0 = Power Off
    menu-0-0-exec = shutdown -h now
    menu-0-1 = Reboot
    menu-0-1-exec = reboot

[settings]
    screenchange-reload = true

[global/wm]
    margin-top = 5
    margin-bottom = 5
